<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Конгресс Российской Ассоциации Иллюзионистов</title>
</head>
<body>
<div class="container">
    <h3>Все учасники</h3>
    <form class="form-inline pull-right" th:action="@{/app/search}" method="get">
        <a class="btn btn-info" href="#" th:href="@{/app/add}">Add</a>
        <a class="btn btn-success" href="#" th:href="@{/}">Main</a>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Страна</th>
            <th>Город</th>
            <!--            <th>Участие в конкурсах</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="magician : ${magician}">
            <td><a th:href="@{|/app/byId/${magician.id}|}" th:text="${magician.name}"/></td>
            <td th:text="${magician.lastName}"/>
            <td th:text="${magician.country}"/>
            <td th:text="${magician.city}"/>
            <td th:text="${magician.phoneNumber}"/>
        </tbody>
    </table>
</div>
</body>
</html>